<header>
  <div class="__imageCont">
    <img src="../../assets/images/logo.svg" alt="logo" />
  </div>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">New</a></li>
      <li><a href="#">Popular</a></li>
      <li><a href="#">Trending</a></li>
      <li><a href="#">Categories</a></li>
    </ul>
  </nav>
  <!-- nav icon section -->
  <img id="open-menu" src="../../assets/images/icon-menu.svg" alt="icon menu open"/>
  <img
    id="close-menu"
    src="../../assets/images/icon-menu-close.svg"
    alt="icon menu close"
  />
</header>
