<section>
  <div class="__box">
    <img
      src="../../assets/images/image-retro-pcs.jpg"
      alt="reviving retro pc's"
    />
    <div class="content__img">
      <h2>01</h2>
      <h4>Reviving Retro PCs</h4>
      <p>What happens when old PCs are given modern upgrades?</p>
    </div>
  </div>

  <div class="__box">
    <img src="../../assets/images/image-top-laptops.jpg" alt="top laptops" />
    <div class="content__img">
      <h2>02</h2>
      <h4>Top 10 Laptops of 2022</h4>
      <p>Our best picks for various needs and budgets.</p>
    </div>
  </div>

  <div class="__box">
    <img
      src="./assets/images/image-gaming-growth.jpg"
      alt="gaming growth"
    />
    <div class="content__img">
      <h2>03</h2>
      <h4>The Growth of Gaming</h4>
      <p>How the pandemic has sparked fresh opportunities.</p>
    </div>
  </div>
</section>
